
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cab Service</title>
    <link rel="stylesheet" href="statics/cabhome.css" type="text/css"/>
</head>
<body>
 <div class="main">
    <div class="top1">
        <div class="top2">
            <h2 style="position:absolute ; left:20px; font-family: fantasy;">TAKSi</h2>
        </div>
        <div class="top3">
            <!-- <button type="submit" class="button2" href="cabsignin.html">sder</button> -->
            <div class="button" ><a  href="cabbook.html" style="text-decoration:none; ">Booking</a></div>
            <div class="button">Contact Us</div>
            <div class="button"><a  href="cabsignin.html " style="text-decoration:none; ">Sign In</a></div>   
        </div>
    </div>
    <div class="box">
        <div class="box1">
            <h1 >24/7 TAKSi service!</h1>
        </div>
        <div class="box2">
            <form method="post" action="" class="box3" >
                <p style="font-size: 36px;"><b>Book Your Cab</b></p><br/>
                <label for="pickup"  ><b>Pick Up</b></label><br>
                <input type="text" id="pickup" name="pickup" placeholder="Pickup Place" ><br/>
                <label for="destination" > <b>Destination</b></label><br>
                <input type="text" id="destination" name="destination" placeholder="Destination"><br/>
                <table>
                    <tr><button type="submit" class="btn" style="margin-left:40px ;">Book Now</button>
                    <button type="submit" class="btn" style="margin-left:10px ;"><a href="cabbook.html" style="text-decoration:none;">Pre Book</a></button></tr>
                </table>
                
            </form> 
        </div>
    </div>
 </div> 
</body>
</html>