<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cab Sign In</title>
    <link rel="stylesheet" href="statics/cabsign.css" type="text/css"/>
</head>
<body>
    <div class="top1">
        <div class="top2">
            <h2><a href="cabhome.html" style="text-decoration: none; color: black;">TAKSi</a></h2>
        </div>
        <div class="top3">
            <div class="button" ><a  href="cabbook.html" style="text-decoration:none; ">Booking</a></div>
            <div class="button" >Contact Us</div>  
        </div>
    </div>
    <div class="box">
        <div class="box1">
                </div>
        <div class="box2">
            <form name="signinform" method="post" action="" class="box3" onsubmit="validate(event)" >
                <p style="font-size: 36px; text-align: center; "><b>Sign in</b></p>
                <label for="email"  ><b>Username:</b></label><br>
                <input type="text" id="email" name="email" placeholder="Username" ><br/>
                <label for="Password" > <b>Password:</b></label><br>
                <input type="password" id="Password" name="Password" placeholder="Password" class="psw"><br/>
                <span id="err-name" style="color: red;display:block"></span>
            <table>
                <tr><button type="submit" class="btn" style="margin-left:40px ;">Sign In</button>
                <button type="submit" class="btn" style="margin-left:10px ;"><a href="cabsignup.html" style="text-decoration:none;">New User</a></button></tr>
            </table>
                <label style="margin-left:100px ;">Forgot <a href="#" style="color: rgb(255, 242, 0);">password?</a></label>
                
            </form> 
        </div>
    </div>   
</body>
</html>